<header class="header">
    <div class="top-menu">
        <ul>
            {{site.data.navigation.main}}
            {% for nav in site.data.navigation.main %}
            <li{%if nav.link == site.data.navigation.main[0].link %} class="active"{% endif %}>
                <a href="{{ nav.link }}">
                    <span class="icon ion-{{ nav.icon }}"></span>
                    <span class="link">{{ nav.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</header>
