<div id="menu">
  <nav class="container-960">
    <ul>
      {% assign p = site.pages|sort: "weight" %}
      {% for node in p %}
        {% if node.header %}
          <li>
            <a{% if node.url == page.url %} class="active"{% endif %} href="{{ node.path }}" accesskey="{{ node.accesskey }}">
              <i class="menu-{{ node.class }}"></i>
              <span class="text">{{ node.header }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
