<div class="card-started" id="home-card">
    <div class="profile">
        <div class="slide" style="background-image: url(/assets/images/bg.jpg);"></div>

        <div class="image">
            <img src="/assets/images/profile.jpg" alt="{{ site.author }}" />
        </div>

        <div class="title">Florian PARRENO</div>
        <div class="subtitle">Lead developeur Symfony</div>

        <div class="social">
            <a target="_blank" href="https://twitter.com/iFlohw">
                <span class="fab fa-twitter"></span>
            </a>
            <a target="_blank" href="https://github.com/flohw">
                <span class="fab fa-github"></span>
            </a>
            <a target="_blank" href="https://stackoverflow.com/users/10116108/flohw">
                <span class="fab fa-stack-overflow"></span>
            </a>
        </div>

        <div class="lnks">
            <a href="Florian-PARRENO.pdf" class="lnk">
                <span class="text">Mon CV</span>
                <span class="ion ion-md-archive"></span>
            </a>
            {% if include.button == 'blog' %}
            <a href="/#blog-card" class="lnk discover active">
                <span class="text">Blog</span>
                <span class="arrow"></span>
            </a>
            {% endif %}
        </div>

    </div>

</div>