<div class="card-inner{% if include.active %} active{% endif %}" id="contact-card">
    <div class="card-wrap">
        <div class="content contacts">
            <div class="title">En contact</div>
            <div class="row">
                <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.704744682186!2d3.910083115444373!3d43.612688863067405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6a583c3ad44fb%3A0x7cf5cc4e89fb1e89!2s425+Rue+Alfred+Nobel%2C+34000+Montpellier!5e0!3m2!1sfr!2sfr!4v1533881029494" height="300" frameborder="0" style="border:0;width:100%" allowfullscreen title="Adresse de travail"></iframe>

                    <div class="info-list">
                        <ul>
                            <li><strong>Travail . . . . .</strong> 425 Rue Alfred Nobel, Montpellier</li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="content contacts">
            <div class="title">Formulaire de contact</div>
            <div class="row">
                <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                    <div class="contact_form">
                        <form id="cform" method="post" autocomplete="off">
                            <div class="row">
                                <div class="col col-d-6 col-t-6 col-m-12">
                                    <div class="group-val">
                                        <label for="name">Nom</label>
                                            <input type="text" name="name" id="name" placeholder="Nom Prénom" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-d-6 col-t-6 col-m-12">
                                    <div class="group-val">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" placeholder="Adresse email" />
                                    </div>
                                </div>
                                <div class="col col-d-12 col-t-12 col-m-12">
                                    <div class="group-val">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="align-left">
                                <a href="#" class="button" onclick="$('#cform').submit(); return false;">
                                    <span class="text">Envoyer</span>
                                    <span class="arrow"></span>
                                </a>
                            </div>
                        </form>
                        <div class="alert-success">
                            <p>Merci, votre message a été envoyé.</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>

