<!DOCTYPE html>
<html>
  {% include head.html %}
    <div id="container" class="container-960">
      <aside>
        <img src="img/illustrations/{{ page.class }}.jpg" alt="{{ page.title}}">
      </aside>
      <article id="page">
        <header>
          <h1>{{ page.title }} <small>{{ page.side_title }}</small></h1>
        </header>
        <section id="content"{% if page.content_class %} class="{{ page.content_class }}"{% endif %}>
          {{ content }}
        </section>
      </article>
      <div class="clear"></div>
    </div>
    {% include footer.html %}
  </body>
</html>
