<!DOCTYPE html>
<html lang="fr">
    {% include head.html %}

    <body>
        <div class="page">
            {% include loader %}

            <div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">
                {% include header.html %}
                {% include profile.html %}

                {% for nav in site.data.navigation.main %}
                    {% include pages/{{nav.page}} active=nav.default %}
                {% endfor %}
            </div>
        </div>
        
        {% include scripts %}
    </body>
</html>
